:root {
    --tree-label-hover-color: rgba(128, 128, 128, 0.25);
    --tree-label-blue-color: #747bff;
    --tree-borders-color: #E0E0E0;
    --tree-input-hover: #9FA8DA;
    --tree-default-border-radius: 4px;
    --tree-active-label-color: rgba(76, 175, 80, 0.4);
    --tree-default-label-color: #212121;
    --tree-min-space: 4px;
    --tree-space: 8px;
    --tree-default-white: #ffffff;
    --tree-border-width: 1px;
}